.container_full {
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: calc(100vh - 100px);
    margin: 0 auto;
}

.container_center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 25px 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.container_bottom {
}

.container_center_tag {
    text-align: center;
}

.container_center_timer {
    padding: 15px;
    text-align: center;
}

.container_center_modals {
    text-align: center;
}

hr {
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
    .container_full {
        width: 940px;
    }

    .container_center {
        flex-direction: column;
    }

    .container_bottom {
    }

    .container_center_tag {
        padding-top: 30px

    }

    .container_center_timer {
        padding-top: 60px;
    }

    .container_center_modals {
        padding-top: 30px;
    }
}